{% for release in tree %}
{% if release.version %}
## {{ release.version }} ({{ release.date }})
{% endif %}

{% for group, commits in release.changes.items() %}
### {{ group }}

{% for commit in commits %}
{% set message = commit.message | trim %}
- {% if commit.scope %}**{{ commit.scope }}**: {% endif %}{{ message[:1] | upper }}{{ message[1:] }}
{% endfor %}

{% endfor %}

{% endfor %}